.App {
  text-align: center;
}

.smurfs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 5% 15%;
}
.smurfy {
  background-color: rgb(51, 172, 212);
  color: white;
  padding: 3%;
  width: 20%;
  margin-bottom: 3%;
}
.imput {
  margin-bottom: 3%;
}
